streamlit==1.38.0
watchdog==4.0.1
playwright==1.46.0
pyee==11.1.0
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.4
lxml==5.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.0
python-dotenv==1.0.1
pathlib==1.0.1
tqdm==4.66.4
rich==13.8.1
loguru==0.7.2
charset-normalizer==3.3.2
certifi==2024.6.2
idna==3.8
beautifulsoup4==4.12.3
html5lib==1.1
